body{text-align:center;}
#wrap{width:780px;
	text-align:left;
	margin:0 auto;}
#inner{margin:- 10px;}
#mainWrap{width:500px;
	float:left;}
#sideWrap{width:260px;
	float:right;}
.clear{clear:both;}
.clear hr{display:none;}